@page "/editperiod"
@inject NavigationManager navManager

<main style="gap:24px; display:flex; flex-direction:column; height:100vh;">

    <section class="mt-4" style="gap:16px; display:flex; align-items:center; justify-content:space-between;">

        <button @onclick="Regresar" class="btn-goback"> <img src="/Images/back.svg" alt="Alternate Text" /> </button>
        
        <div>
            <h1 class="t20">Editar periodo</h1>
        </div>
        <button data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn-goback"> <img src="/Images/delete.svg" alt="Alternate Text" /> </button>


    </section>

    <section class="grid">
        <h1 class="t16">Detalles</h1>
    </section>

    <section class="grid" style="gap:44px;">
        <section class="grid" style="gap:24px;">

            <div class="grid" style="gap:10px;">
                <label>Nombre del nuevo periodo</label>
                <div class="inp-cont">
                    <img class="ico-inp left" src="/Images/add.svg" alt="Alternate Text" />
                    <input placeholder="Ingresa el nombre" class="inp parr" type="text" name="name" value="" />
                </div>
            </div>

            <div class="grid" style="gap:10px;">
                <label>Cantidad de horas</label>
                <div class="inp-cont">
                    <img class="ico-inp left" src="/Images/hours.svg" alt="Alternate Text" />
                    <input placeholder="Ingresa la cantidad de horas" class="inp parr" type="number" name="name" value="" />
                </div>
            </div>

            <div class="grid" style="gap:10px;">
                <label>Fecha de inicio</label>
                <div class="inp-cont">
                    <img class="ico-inp left" src="/Images/date.svg" alt="Alternate Text" />
                    <input placeholder="Ingresa la cantidad de horas" class="inp parr" type="date" name="name" value="" />
                </div>
            </div>

        </section>

    </section>

</main>

<button @onclick="Regresar" style="position: fixed; bottom: 24px; left: 24px; right: 24px; width: calc(100% - 48px);" class="bton btn-black" type="submit">Guardar nuevo periodo</button>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content d-grid" style="padding:32px 16px; gap:24px; border-radius:24px; margin:0px 16px;">
            <div class="d-grid" style="gap:8px;">
                <h2 class="t20 center">¿Estas seguro de eliminar?</h2>
                <p class="parr center">Si eliminas este periodo de tiempo, todas las horas acumuladas e informacion relacionada se perderá para siempre.</p>
            </div>
            <div class="d-grid" style="gap:8px;">
                <button class="bton bton-black">Si, quiero eliminar este periodo</button>
                <button class="bton bton-white" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>


@code {
    private void Regresar()
    {
        navManager.NavigateTo("/home");
    }

   
}
