@page "/newperiod"
@inject NavigationManager navManager

<main style="gap:24px; display:flex; flex-direction:column; height:100vh;">

<section class="mt-4" style="gap:16px; display:flex; align-items:center;">

        <button @onclick="Regresar" class="btn-goback"> <img src="/Images/back.svg" alt="Alternate Text" /> </button>
    <div>
        <h1 class="t20">Nuevo periodo</h1>
        <p class="parr">Completa los siguientes campos</p>
    </div>
</section>

<section class="grid">
        <h1 class="t16">Detalles</h1>
    </section>

    <section class="grid" style="gap:44px;">
        <section class="grid" style="gap:24px;">

            <div class="grid" style="gap:10px;">
                <label>Nombre del nuevo periodo</label>
                <div class="inp-cont">
                    <img class="ico-inp left" src="/Images/add.svg" alt="Alternate Text" />
                    <input placeholder="Ingresa el nombre" class="inp parr" type="text" name="name" value="" />
                </div>
            </div>

            <div class="grid" style="gap:10px;">
                <label>Cantidad de horas</label>
                <div class="inp-cont">
                    <img class="ico-inp left" src="/Images/hours.svg" alt="Alternate Text" />
                    <input placeholder="Ingresa la cantidad de horas" class="inp parr" type="number" name="name" value="" />
                </div>
            </div>

            <div class="grid" style="gap:10px;">
                <label>Fecha de inicio</label>
                <div class="inp-cont">
                    <img class="ico-inp left" src="/Images/date.svg" alt="Alternate Text" />
                    <input placeholder="Ingresa la cantidad de horas" class="inp parr" type="date" name="name" value="" />
                </div>
            </div>

        </section>

    </section>

</main>

<button @onclick="Regresar" style="position: fixed; bottom: 24px; left: 24px; right: 24px; width: calc(100% - 48px);" class="bton bton-black" type="submit">Guardar nuevo periodo</button>



@code {
    private void Regresar()
    {
        navManager.NavigateTo("/home");
    }
}
